.player-stats {
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.player-stats h2 {
  font-size: 1.6em;
  color: #333;
  margin-bottom: 10px;
}

.player-stats .stats p {
  margin: 5px 0;
}

.player-stats .stats span {
  font-weight: bold;
}

.vit-bar-container {
  position: relative;
  width: 100%;
  background-color: #e0e0e0; /* Color de fondo de la barra */
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.vit-bar {
  height: 100%;
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  white-space: nowrap; /* Evita el salto de línea del contenido */
  transition: width 0.5s ease-in-out; /* Animación de cambio de ancho */
}

/* Colores de la barra según el porcentaje de salud */
.vit-bar.green {
  background-color: #76c7c0; /* Verde */
}

.vit-bar.yellow {
  background-color: #f2c75c; /* Amarillo */
}

.vit-bar.red {
  background-color: #ff6f6f; /* Rojo */
}

.vit-bar span {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.special-ability {
  margin-top: 15px;
}

.special-ability p {
  margin: 5px 0;
}
