.player-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;

  .player-animation {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
  }

  h2 {
    color: #333;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
  }

  .level-experience {
    margin-bottom: 15px;
    text-align: center;

    p {
      font-size: 14px;
      margin: 5px 0;
    }

    span {
      font-weight: bold;
    }
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 15px;

    p {
      font-size: 14px;
      margin: 5px 0;

      span {
        font-weight: bold;
      }
    }
  }

  .vit-stats {
    grid-column: span 2;

    .vit-bar-container {
      width: 100%;
      background-color: #e0e0e0;
      border-radius: 4px;
      overflow: hidden;
    }

    .vit-bar {
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
      font-size: 12px;
      padding: 0 5px;

      &.green {
        background-color: #4caf50;
      }

      &.yellow {
        background-color: #ffeb3b;
      }

      &.red {
        background-color: #f44336;
      }
    }
  }

  .special-ability {
    text-align: center;
    p {
      font-size: 14px;
      margin: 10px 0;
    }
  }
}
