<div class="game-board">
  <div class="game-actions">
    <button mat-raised-button (click)="addRandomPlayer()">Add Random Player</button>
    <button mat-raised-button color="accent" (click)="createPlayer()">Create Custom Player</button>
    <button mat-raised-button color="primary" (click)="startBattle()">Start Battle</button>
  </div>
  <div class="game-players">
    <div *ngFor="let player of players" class="player-card">
      <app-player-stats [player]="player"></app-player-stats>
    </div>
  </div>
  
  <app-player-creation *ngIf="creatingPlayer" (playerCreated)="onPlayerCreated($event)" id="player-creation-section"></app-player-creation>
  
  <app-battle *ngIf="battleStarted" [player1]="player1" [player2]="player2" id="battle-section"></app-battle>
</div>

